---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="En mi casa" id="features">
  <Fragment slot="lead">
    Calle Francisco Villa <span class="text-primary">#800</span>. Col. Libertad
     <br />
    <span class="text-primary">Castaños </span>Coahuila
     <br />
     <span class="text-sm font-light">(Frente a la iglesia de San Judas Tadeo)</span>
  </Fragment>
  
</ContentSection>
